In [1]:
library(tidyverse)
library(repr)
library(digest)
library(gridExtra)
library(cowplot)
library(dplyr)
library(tidymodels)
library(GGally)
library(splines)

Warning message:
“package ‘tidyverse’ was built under R version 4.1.2”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.0      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.0      ✔ stringr 1.4.0
✔ readr   2.1.3      ✔ forcats 0.5.1
Warning message:
“package ‘ggplot2’ was built under R version 4.1.2”
Warning message:
“package ‘tibble’ was built under R version 4.1.2”
Warning message:
“package ‘tidyr’ was built under R version 4.1.2”
Warning message:
“package ‘readr’ was built under R version 4.1.2”
Warning message:
“package ‘dplyr’ was built under R version 4.1.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Warning message:
“package ‘repr’ was built under R version 4.1.2”

Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine


Warning message:
“package ‘tidymodels’ was built under R version 4.1.2”
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.1     ✔ rsample      1.1.0
✔ dials        1.1.0     ✔ tune         1.0.1
✔ infer        1.0.3     ✔ workflows    1.1.0
✔ modeldata    1.0.1     ✔ workflowsets 1.0.0
✔ parsnip      1.0.2     ✔ yardstick    1.1.0
✔ recipes      1.0.3

Warning message:
“package ‘broom’ was built under R version 4.1.2”
Warning message:
“package ‘dials’ was built under R version 4.1.2”
Warning message:
“package ‘scales’ was built under R version 4.1.2”
Warning message:
“package ‘infer’ was built under R version 4.1.2”
Warning message:
“package ‘modeldata’ was built under R version 4.1.2”
Warning message:
“package ‘parsnip’ was built under R version 4.1.2”
Warning message:
“package ‘rsample’ was built under R version 4.1.2”
Warning message:
“package ‘tune’ was built under R version 4.1.2”
Warning message:
“package ‘workflows’ was built under R version 4.1.2”
Warning message:
“package ‘workflowsets’ was built under R version 4.1.2”
Warning message:
“package ‘yardstick’ was built under R version 4.1.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ gridExtra::combine() masks dplyr::combine()
✖ scales::discard()    masks purrr::discard()
✖ dplyr::filter()      masks stats::filter()
✖ recipes::fixed()     masks stringr::fixed()
✖ dplyr::lag()         masks stats::lag()
✖ yardstick::spec()    masks readr::spec()
✖ recipes::step()      masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

In [2]:
data <- read_csv("data/FantasyPointsData.csv")
head(data)

New names:
• `` -> `...11`
Rows: 539 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): last_name, first_name
dbl (8): player_id, year, b_strikeout, b_walk, b_rbi, b_total_bases, r_total...
lgl (1): ...11

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  last_name first_name player_id year b_strikeout b_walk b_rbi b_total_bases
1 Cruz Jr.  Nelson     443558    2022 119         49     64    151
2 Blackmon  Charlie    453568    2022 109         32     78    222
3 McCutchen Andrew     457705    2022 124         57     69    198
4 Turner    Justin     457759    2022  89         50     81    205
5 Andrus    Elvis      462101    2022  92         39     58    216
6 Santana   Carlos     467793    2022  88         71     60    162
  r_total_stolen_base r_run ...11
1  4                  50    NA
2  4                  60    NA
3  8                  66    NA
4  3                  61    NA
5 18                  66    NA
6  0                  52    NA

In [3]:
selected <- data %>% select(-"player_id", -"...11")
head(selected)

  last_name first_name year b_strikeout b_walk b_rbi b_total_bases
1 Cruz Jr.  Nelson     2022 119         49     64    151
2 Blackmon  Charlie    2022 109         32     78    222
3 McCutchen Andrew     2022 124         57     69    198
4 Turner    Justin     2022  89         50     81    205
5 Andrus    Elvis      2022  92         39     58    216
6 Santana   Carlos     2022  88         71     60    162
  r_total_stolen_base r_run
1  4                  50
2  4                  60
3  8                  66
4  3                  61
5 18                  66
6  0                  52

In [5]:
names <- selected %>% unite("player", last_name:first_name, sep = ", ", remove = T) %>% 
rename("K" = "b_strikeout", "BB" = "b_walk", "RBI" = "b_rbi", "TB" = "b_total_bases", "SB" = "r_total_stolen_base", 
           "R" = "r_run")
head(names)

  player            year K   BB RBI TB  SB R
1 Cruz Jr., Nelson  2022 119 49 64  151  4 50
2 Blackmon, Charlie 2022 109 32 78  222  4 60
3 McCutchen, Andrew 2022 124 57 69  198  8 66
4 Turner, Justin    2022  89 50 81  205  3 61
5 Andrus, Elvis     2022  92 39 58  216 18 66
6 Santana, Carlos   2022  88 71 60  162  0 52

In [6]:
fpoints <- names %>% mutate(Fpoints = BB + RBI + TB + SB + R - K)
head(fpoints)

  player            year K   BB RBI TB  SB R  Fpoints
1 Cruz Jr., Nelson  2022 119 49 64  151  4 50 199
2 Blackmon, Charlie 2022 109 32 78  222  4 60 287
3 McCutchen, Andrew 2022 124 57 69  198  8 66 274
4 Turner, Justin    2022  89 50 81  205  3 61 311
5 Andrus, Elvis     2022  92 39 58  216 18 66 305
6 Santana, Carlos   2022  88 71 60  162  0 52 257

In [7]:
write_csv(fpoints, "data/fpoints_data.csv")