In [2]:
library(tidyverse)
library(repr)
library(digest)
library(gridExtra)
library(cowplot)
library(dplyr)
library(tidymodels)
library(GGally)
library(splines)

Warning message:
“package ‘tidyverse’ was built under R version 4.1.2”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.0      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.0      ✔ stringr 1.4.0
✔ readr   2.1.3      ✔ forcats 0.5.1
Warning message:
“package ‘ggplot2’ was built under R version 4.1.2”
Warning message:
“package ‘tibble’ was built under R version 4.1.2”
Warning message:
“package ‘tidyr’ was built under R version 4.1.2”
Warning message:
“package ‘readr’ was built under R version 4.1.2”
Warning message:
“package ‘dplyr’ was built under R version 4.1.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Warning message:
“package ‘repr’ was built under R version 4.1.2”

Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine


Warning message:
“package ‘tidymodels’ was built under R version 4.1.2”
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.1     ✔ rsample      1.1.0
✔ dials        1.1.0     ✔ tune         1.0.1
✔ infer        1.0.3     ✔ workflows    1.1.0
✔ modeldata    1.0.1     ✔ workflowsets 1.0.0
✔ parsnip      1.0.2     ✔ yardstick    1.1.0
✔ recipes      1.0.3

Warning message:
“package ‘broom’ was built under R version 4.1.2”
Warning message:
“package ‘dials’ was built under R version 4.1.2”
Warning message:
“package ‘scales’ was built under R version 4.1.2”
Warning message:
“package ‘infer’ was built under R version 4.1.2”
Warning message:
“package ‘modeldata’ was built under R version 4.1.2”
Warning message:
“package ‘parsnip’ was built under R version 4.1.2”
Warning message:
“package ‘rsample’ was built under R version 4.1.2”
Warning message:
“package ‘tune’ was built under R version 4.1.2”
Warning message:
“package ‘workflows’ was built under R version 4.1.2”
Warning message:
“package ‘workflowsets’ was built under R version 4.1.2”
Warning message:
“package ‘yardstick’ was built under R version 4.1.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ gridExtra::combine() masks dplyr::combine()
✖ scales::discard()    masks purrr::discard()
✖ dplyr::filter()      masks stats::filter()
✖ recipes::fixed()     masks stringr::fixed()
✖ dplyr::lag()         masks stats::lag()
✖ yardstick::spec()    masks readr::spec()
✖ recipes::step()      masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

## Pitcher Team Factor Calculations

Similarily to team factor calculations for batters, pitcher team factor will standardize the average fantasy points per inning in 2022 to a normal distribution with mean at 1 and a very small standard deviation (~0.1). Unlike the model creation, fantasy points per inning will include team-based statistics such as wins, losses, saves and holds. These statistics are actually a crucial aspect of team factor, as we would like to account for the difference in opportunities to accumulate these statistics between teams. Once again, changes to the Blue Jays, Tigers and Mets ballpark dimensions are accounted for with an approximate estimate on how these changes will impact offensive production, and in turn pitching production.

In [3]:
data <- read_csv("data/2022PitchBase.csv")
head(data)

Rows: 470 Columns: 25
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): Name, Team
dbl (23): W, L, ERA, G, GS, CG, ShO, SV, HLD, BS, IP, TBF, H, R, ER, HR, BB,...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Name           Team W L ERA  G  GS CG ShO SV ⋯ R  ER HR BB IBB HBP WP BK SO
1 Yency Almonte  LAD  0 0 1.02 33 0  0  0    1 ⋯  4  4 2  10 1   4   0  0   33
2 Evan Phillips  LAD  7 3 1.14 64 0  0  0    2 ⋯ 11  8 2  15 1   3   0  0   77
3 Ryne Stanek    HOU  2 1 1.15 59 0  0  0    1 ⋯  8  7 2  31 1   0   4  0   62
4 Ryan Helsley   STL  9 1 1.25 54 0  0  0   19 ⋯ 11  9 6  20 1   0   1  0   94
5 Edwin Diaz     NYM  3 1 1.31 61 0  0  0   32 ⋯  9  9 3  18 1   2   2  0  118
6 Emmanuel Clase CLE  3 4 1.36 77 0  0  0   42 ⋯ 18 11 3  10 2   1   4  0   77
  playerid
1 15068
2 17734
3 15947
4 18138
5 14710
6 21032

In [6]:
cleaned <- data %>% separate(Name, c("first_name", "last_name")) %>% select(first_name, last_name, Team, W, L, SV, HLD, ER, SO, IP, BB, H) 
head(cleaned)

Warning message:
“Expected 2 pieces. Additional pieces discarded in 9 rows [22, 42, 72, 81, 120, 135, 269, 315, 461].”

  first_name last_name Team W L SV HLD ER SO  IP   BB H
1 Yency      Almonte   LAD  0 0  1  8   4  33 35.1 10 18
2 Evan       Phillips  LAD  7 3  2 19   8  77 63.0 15 33
3 Ryne       Stanek    HOU  2 1  1 17   7  62 54.2 31 36
4 Ryan       Helsley   STL  9 1 19  7   9  94 64.2 20 28
5 Edwin      Diaz      NYM  3 1 32  4   9 118 62.0 18 34
6 Emmanuel   Clase     CLE  3 4 42  0  11  77 72.2 10 43

In [8]:
names <- cleaned %>% unite('player', last_name:first_name, sep = ", ", remove = T)
head(names)

  player          Team W L SV HLD ER SO  IP   BB H
1 Almonte, Yency  LAD  0 0  1  8   4  33 35.1 10 18
2 Phillips, Evan  LAD  7 3  2 19   8  77 63.0 15 33
3 Stanek, Ryne    HOU  2 1  1 17   7  62 54.2 31 36
4 Helsley, Ryan   STL  9 1 19  7   9  94 64.2 20 28
5 Diaz, Edwin     NYM  3 1 32  4   9 118 62.0 18 34
6 Clase, Emmanuel CLE  3 4 42  0  11  77 72.2 10 43

In [27]:
pitchteam <- names %>% select(player, Team)
write_csv(pitchteam, "data/PitchTeam.csv")

In [9]:
fpoints <- names %>% mutate(FpointsperIP = (2*W - 2*L + 5*SV + 2*HLD - 2*ER + SO - BB - H + 3*IP)/IP)
head(fpoints)

  player          Team W L SV HLD ER SO  IP   BB H  FpointsperIP
1 Almonte, Yency  LAD  0 0  1  8   4  33 35.1 10 18 3.512821
2 Phillips, Evan  LAD  7 3  2 19   8  77 63.0 15 33 4.095238
3 Stanek, Ryne    HOU  2 1  1 17   7  62 54.2 31 36 3.405904
4 Helsley, Ryan   STL  9 1 19  7   9  94 64.2 20 28 5.383178
5 Diaz, Edwin     NYM  3 1 32  4   9 118 62.0 18 34 6.548387
6 Clase, Emmanuel CLE  3 4 42  0  11  77 72.2 10 43 5.908587

In [19]:
## Calculating team averages (dividing by three to reduce variance of the standardized values)
team_avg <- fpoints %>% group_by(Team) %>% summarize(avg = mean(FpointsperIP)/3) %>% filter(Team != "- - -")
head(team_avg)

  Team avg
1 ARI  0.6378658
2 ATL  0.9372084
3 BAL  0.6934232
4 BOS  0.6711421
5 CHC  0.6662974
6 CHW  0.7877638

In [22]:
## Standardizing team average points to a N(1, sd^(1/100)) disribution
team_avg$standardized <- ((team_avg$avg - mean(team_avg$avg))/(sd(team_avg$avg))^(1/10000)) + 1
team_avg

   Team avg       standardized
1  ARI  0.6378658 0.8914963
2  ATL  0.9372084 1.1909006
3  BAL  0.6934232 0.9470652
4  BOS  0.6711421 0.9247795
5  CHC  0.6662974 0.9199338
6  CHW  0.7877638 1.0414252
7  CIN  0.5451064 0.7987178
8  CLE  0.8608255 1.1145020
9  COL  0.5554142 0.8090277
10 DET  0.6464067 0.9000390
11 HOU  1.0303564 1.2840678
12 KCR  0.5765855 0.8302034
13 LAA  0.7648909 1.0185476
14 LAD  0.9350930 1.1887848
15 MIA  0.7064022 0.9600469
16 MIL  0.7894088 1.0430705
17 MIN  0.7252262 0.9788747
18 NYM  0.9177947 1.1714829
19 NYY  0.9045153 1.1582007
20 OAK  0.6115250 0.8651501
21 PHI  0.8168813 1.0705487
22 PIT  0.6350481 0.8886780
23 SDP  0.7475475 1.0012006
24 SEA  0.8931560 1.1468392
25 SFG  0.7081909 0.9618359
26 STL  0.6769442 0.9305828
27 TBR  0.8124180 1.0660845
28 TEX  0.6673364 0.9209730
29 TOR  0.8540685 1.1077436
30 WSN  0.6155716 0.8691975

In [24]:
team_avg[10,]$standardized = team_avg[10,]$standardized - 0.03
team_avg[29,]$standardized = team_avg[29,]$standardized - 0.03
team_avg[18,]$standardized = team_avg[18,]$standardized - 0.015
team_avg

   Team avg       standardized
1  ARI  0.6378658 0.8914963
2  ATL  0.9372084 1.1909006
3  BAL  0.6934232 0.9470652
4  BOS  0.6711421 0.9247795
5  CHC  0.6662974 0.9199338
6  CHW  0.7877638 1.0414252
7  CIN  0.5451064 0.7987178
8  CLE  0.8608255 1.1145020
9  COL  0.5554142 0.8090277
10 DET  0.6464067 0.8700390
11 HOU  1.0303564 1.2840678
12 KCR  0.5765855 0.8302034
13 LAA  0.7648909 1.0185476
14 LAD  0.9350930 1.1887848
15 MIA  0.7064022 0.9600469
16 MIL  0.7894088 1.0430705
17 MIN  0.7252262 0.9788747
18 NYM  0.9177947 1.1564829
19 NYY  0.9045153 1.1582007
20 OAK  0.6115250 0.8651501
21 PHI  0.8168813 1.0705487
22 PIT  0.6350481 0.8886780
23 SDP  0.7475475 1.0012006
24 SEA  0.8931560 1.1468392
25 SFG  0.7081909 0.9618359
26 STL  0.6769442 0.9305828
27 TBR  0.8124180 1.0660845
28 TEX  0.6673364 0.9209730
29 TOR  0.8540685 1.0777436
30 WSN  0.6155716 0.8691975

In [25]:
write_csv(team_avg, "data/Pitchteamfactor.csv")