In [1]:
library(tidyverse)
library(repr)
library(digest)
library(gridExtra)
library(cowplot)
library(dplyr)
library(tidymodels)
library(GGally)
library(splines)

Warning message:
“package ‘tidyverse’ was built under R version 4.1.2”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.0      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.0      ✔ stringr 1.4.0
✔ readr   2.1.3      ✔ forcats 0.5.1
Warning message:
“package ‘ggplot2’ was built under R version 4.1.2”
Warning message:
“package ‘tibble’ was built under R version 4.1.2”
Warning message:
“package ‘tidyr’ was built under R version 4.1.2”
Warning message:
“package ‘readr’ was built under R version 4.1.2”
Warning message:
“package ‘dplyr’ was built under R version 4.1.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Warning message:
“package ‘repr’ was built under R version 4.1.2”

Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine


Warning message:
“package ‘tidymodels’ was built under R version 4.1.2”
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.1     ✔ rsample      1.1.0
✔ dials        1.1.0     ✔ tune         1.0.1
✔ infer        1.0.3     ✔ workflows    1.1.0
✔ modeldata    1.0.1     ✔ workflowsets 1.0.0
✔ parsnip      1.0.2     ✔ yardstick    1.1.0
✔ recipes      1.0.3

Warning message:
“package ‘broom’ was built under R version 4.1.2”
Warning message:
“package ‘dials’ was built under R version 4.1.2”
Warning message:
“package ‘scales’ was built under R version 4.1.2”
Warning message:
“package ‘infer’ was built under R version 4.1.2”
Warning message:
“package ‘modeldata’ was built under R version 4.1.2”
Warning message:
“package ‘parsnip’ was built under R version 4.1.2”
Warning message:
“package ‘rsample’ was built under R version 4.1.2”
Warning message:
“package ‘tune’ was built under R version 4.1.2”
Warning message:
“package ‘workflows’ was built under R version 4.1.2”
Warning message:
“package ‘workflowsets’ was built under R version 4.1.2”
Warning message:
“package ‘yardstick’ was built under R version 4.1.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ gridExtra::combine() masks dplyr::combine()
✖ scales::discard()    masks purrr::discard()
✖ dplyr::filter()      masks stats::filter()
✖ recipes::fixed()     masks stringr::fixed()
✖ dplyr::lag()         masks stats::lag()
✖ yardstick::spec()    masks readr::spec()
✖ recipes::step()      masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

## Team Factor Calculations
Data from baseball savant and razzball is used to calculate "Team factor". Team factor consists of the average fantasy points per game for each team from 2022 standardized to a normal distribution. Abnormalities in the usual standardization of a Normal(0,1) distribution are in place in order to prevent extreme transformation on the final prediction, as the standard deviation is decreased significantly and the mean is centered at 1. Team factor is simply meant to allow for a slight influence on the team (surrounding players and park) that each player is on for the final predictions. Changes to the Blue Jays, Tigers and Mets ballpark dimensions are accounted for with an approximate estimate on how these changes will impact offensive production.

In [2]:
data <- read_csv("data/2022data.csv")
head(data)

New names:
• `` -> `...12`
Rows: 469 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): last_name, first_name
dbl (9): player_id, year, b_strikeout, b_walk, b_rbi, b_total_bases, r_total...
lgl (1): ...12

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  last_name first_name player_id year b_strikeout b_walk b_rbi b_total_bases
1 Pujols    Albert     405395    2022  55         28     68    169
2 Cabrera   Miguel     408234    2022 101         28     43    126
3 Molina    Yadier     425877    2022  40          5     24     79
4 Cano      Robinson   429664    2022  25          4      4     19
5 Suzuki    Kurt       435559    2022  29         15     15     41
6 Cruz Jr.  Nelson     443558    2022 119         49     64    151
  r_total_stolen_base b_game r_run ...12
1 1                   109    42    NA
2 1                   112    25    NA
3 2                    78    19    NA
4 0                    33     5    NA
5 0                    51    10    NA
6 4                   124    50    NA

In [3]:
selected <- data %>% select(-"player_id", -"...12")
head(selected)

  last_name first_name year b_strikeout b_walk b_rbi b_total_bases
1 Pujols    Albert     2022  55         28     68    169
2 Cabrera   Miguel     2022 101         28     43    126
3 Molina    Yadier     2022  40          5     24     79
4 Cano      Robinson   2022  25          4      4     19
5 Suzuki    Kurt       2022  29         15     15     41
6 Cruz Jr.  Nelson     2022 119         49     64    151
  r_total_stolen_base b_game r_run
1 1                   109    42
2 1                   112    25
3 2                    78    19
4 0                    33     5
5 0                    51    10
6 4                   124    50

In [4]:
names <- selected %>% unite("player", last_name:first_name, sep = ", ", remove = T) %>% 
rename("K" = "b_strikeout", "BB" = "b_walk", "RBI" = "b_rbi", "TB" = "b_total_bases", "SB" = "r_total_stolen_base", 
           "R" = "r_run", "G" = "b_game") %>% mutate(Fpointsg = (BB + RBI + TB + SB + R - K)/G)

head(names)

  player           year K   BB RBI TB  SB G   R  Fpointsg
1 Pujols, Albert   2022  55 28 68  169 1  109 42 2.3211009
2 Cabrera, Miguel  2022 101 28 43  126 1  112 25 1.0892857
3 Molina, Yadier   2022  40  5 24   79 2   78 19 1.1410256
4 Cano, Robinson   2022  25  4  4   19 0   33  5 0.2121212
5 Suzuki, Kurt     2022  29 15 15   41 0   51 10 1.0196078
6 Cruz Jr., Nelson 2022 119 49 64  151 4  124 50 1.6048387

In [5]:
teamdata <- read_csv("data/Razzpreds.csv") %>% select(Name, Team)
head(teamdata)

Rows: 743 Columns: 28
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): Name, Team, Bats, ESPN, YAHOO
dbl (23): #, G, PA, AB, R, HR, RBI, SB, H, 1B, 2B, 3B, TB, SO, BB, HBP, SF, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Name            Team
1 Juan Soto       SD
2 Jose Altuve     HOU
3 Mookie Betts    LAD
4 Trea Turner     PHI
5 Freddie Freeman LAD
6 Bo Bichette     TOR

In [6]:
names1 <- extract(teamdata,Name,c("First_Name","Last_Name"), "([^ ]+) (.*)") 
head(names1)

  First_Name Last_Name Team
1 Juan       Soto      SD
2 Jose       Altuve    HOU
3 Mookie     Betts     LAD
4 Trea       Turner    PHI
5 Freddie    Freeman   LAD
6 Bo         Bichette  TOR

In [7]:
real <- names1 %>% unite("player", Last_Name:First_Name, sep = ", ", remove = T)
head(real)

  player           Team
1 Soto, Juan       SD
2 Altuve, Jose     HOU
3 Betts, Mookie    LAD
4 Turner, Trea     PHI
5 Freeman, Freddie LAD
6 Bichette, Bo     TOR

In [8]:
write_csv(real, "data/playertm.csv")

In [9]:
full <- right_join(real, names, by = 'player') %>% filter(Team != "NA" & Team != "FA")
head(full)

  player           Team year K   BB  RBI TB  SB G   R   Fpointsg
1 Soto, Juan       SD   2022  96 135  62 237  6 153  93 2.856209
2 Altuve, Jose     HOU  2022  87  66  57 281 18 141 103 3.106383
3 Betts, Mookie    LAD  2022 104  55  82 305 12 142 117 3.288732
4 Turner, Trea     PHI  2022 131  45 100 304 27 160 101 2.787500
5 Freeman, Freddie LAD  2022 102  84 100 313 13 159 117 3.301887
6 Bichette, Bo     TOR  2022 155  41  93 306 13 159  91 2.446541

In [10]:
## Calculating team averages (dividing by five to assist with scaling)
team_avg <- full %>% group_by(Team) %>% summarize(avg = mean(Fpointsg)/5)
head(team_avg)

  Team avg
1 ARI  0.3016269
2 ATL  0.3421113
3 BAL  0.2927034
4 BOS  0.3238261
5 CHC  0.2872872
6 CHW  0.3063281

In [11]:
## Standardizing team average points to a N(1, sd^(1/100)) disribution
team_avg$standardized <- ((team_avg$avg - mean(team_avg$avg))/(sd(team_avg$avg))^(1/100)) + 1
team_avg

   Team avg       standardized
1  ARI  0.3016269 0.9794853
2  ATL  0.3421113 1.0212407
3  BAL  0.2927034 0.9702816
4  BOS  0.3238261 1.0023814
5  CHC  0.2872872 0.9646953
6  CHW  0.3063281 0.9843341
7  CIN  0.2405591 0.9165001
8  CLE  0.3730269 1.0531270
9  COL  0.3410039 1.0200986
10 DET  0.2446115 0.9206798
11 HOU  0.3891604 1.0697670
12 KC   0.2892880 0.9667590
13 LAA  0.3110236 0.9891770
14 LAD  0.3445061 1.0237108
15 MIA  0.3087445 0.9868264
16 MIL  0.3169252 0.9952639
17 MIN  0.3173755 0.9957283
18 NYM  0.3757692 1.0559554
19 NYY  0.3915203 1.0722010
20 OAK  0.2280716 0.9036205
21 PHI  0.3566684 1.0362549
22 PIT  0.2782763 0.9554015
23 SD   0.3876717 1.0682316
24 SEA  0.3142742 0.9925296
25 SF   0.2947711 0.9724142
26 STL  0.3852367 1.0657202
27 TB   0.3142292 0.9924832
28 TEX  0.3162992 0.9946183
29 TOR  0.3885399 1.0691271
30 WSH  0.2840786 0.9613861

In [12]:
## Adding impacts from new park dimensions:
team_avg[10,]$standardized = team_avg[10,]$standardized + 0.03
team_avg[29,]$standardized = team_avg[29,]$standardized + 0.03
team_avg[18,]$standardized = team_avg[18,]$standardized + 0.015
team_avg

   Team avg       standardized
1  ARI  0.3016269 0.9794853
2  ATL  0.3421113 1.0212407
3  BAL  0.2927034 0.9702816
4  BOS  0.3238261 1.0023814
5  CHC  0.2872872 0.9646953
6  CHW  0.3063281 0.9843341
7  CIN  0.2405591 0.9165001
8  CLE  0.3730269 1.0531270
9  COL  0.3410039 1.0200986
10 DET  0.2446115 0.9506798
11 HOU  0.3891604 1.0697670
12 KC   0.2892880 0.9667590
13 LAA  0.3110236 0.9891770
14 LAD  0.3445061 1.0237108
15 MIA  0.3087445 0.9868264
16 MIL  0.3169252 0.9952639
17 MIN  0.3173755 0.9957283
18 NYM  0.3757692 1.0709554
19 NYY  0.3915203 1.0722010
20 OAK  0.2280716 0.9036205
21 PHI  0.3566684 1.0362549
22 PIT  0.2782763 0.9554015
23 SD   0.3876717 1.0682316
24 SEA  0.3142742 0.9925296
25 SF   0.2947711 0.9724142
26 STL  0.3852367 1.0657202
27 TB   0.3142292 0.9924832
28 TEX  0.3162992 0.9946183
29 TOR  0.3885399 1.0991271
30 WSH  0.2840786 0.9613861

In [13]:
write_csv(team_avg, "data/teamfactor.csv")