In [1]:
library(tidyverse)
library(repr)
library(digest)
library(gridExtra)
library(cowplot)
library(dplyr)
library(tidymodels)
library(GGally)
library(splines)

Warning message:
“package ‘tidyverse’ was built under R version 4.1.2”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.0      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.0      ✔ stringr 1.4.0
✔ readr   2.1.3      ✔ forcats 0.5.1
Warning message:
“package ‘ggplot2’ was built under R version 4.1.2”
Warning message:
“package ‘tibble’ was built under R version 4.1.2”
Warning message:
“package ‘tidyr’ was built under R version 4.1.2”
Warning message:
“package ‘readr’ was built under R version 4.1.2”
Warning message:
“package ‘dplyr’ was built under R version 4.1.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Warning message:
“package ‘repr’ was built under R version 4.1.2”

Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine


Warning message:
“package ‘tidymodels’ was built under R version 4.1.2”
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.1     ✔ rsample      1.1.0
✔ dials        1.1.0     ✔ tune         1.0.1
✔ infer        1.0.3     ✔ workflows    1.1.0
✔ modeldata    1.0.1     ✔ workflowsets 1.0.0
✔ parsnip      1.0.2     ✔ yardstick    1.1.0
✔ recipes      1.0.3

Warning message:
“package ‘broom’ was built under R version 4.1.2”
Warning message:
“package ‘dials’ was built under R version 4.1.2”
Warning message:
“package ‘scales’ was built under R version 4.1.2”
Warning message:
“package ‘infer’ was built under R version 4.1.2”
Warning message:
“package ‘modeldata’ was built under R version 4.1.2”
Warning message:
“package ‘parsnip’ was built under R version 4.1.2”
Warning message:
“package ‘rsample’ was built under R version 4.1.2”
Warning message:
“package ‘tune’ was built under R version 4.1.2”
Warning message:
“package ‘workflows’ was built under R version 4.1.2”
Warning message:
“package ‘workflowsets’ was built under R version 4.1.2”
Warning message:
“package ‘yardstick’ was built under R version 4.1.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ gridExtra::combine() masks dplyr::combine()
✖ scales::discard()    masks purrr::discard()
✖ dplyr::filter()      masks stats::filter()
✖ recipes::fixed()     masks stringr::fixed()
✖ dplyr::lag()         masks stats::lag()
✖ yardstick::spec()    masks readr::spec()
✖ recipes::step()      masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

In [3]:
hitters <- read_csv("HitterRankings.csv") %>% select(-"...1")
pitchers <- read_csv("PitcherRankings.csv") %>% select(-"...1")
head(hitters)
head(pitchers)

New names:
• `` -> `...1`
Rows: 417 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): player, Team
dbl (3): ...1, final_pred, rank

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
New names:
• `` -> `...1`
Rows: 239 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): player, Team
dbl (3): ...1, final_pred, rank

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  player                 Team final_pred rank
1 Alvarez, Yordan        HOU  544.5948   1
2 Soto, Juan             SD   540.5806   2
3 Judge, Aaron           NYY  531.6748   3
4 Chapman, Matt          TOR  458.0069   4
5 Guerrero Jr., Vladimir TOR  455.0376   5
6 Goldschmidt, Paul      STL  450.0728   6

  player            Team final_pred rank
1 Cole, Gerrit      NYY  495.0817   1
2 Strider, Spencer  ATL  490.8003   2
3 Valdez, Framber   HOU  472.3484   3
4 Javier, Cristian  HOU  461.9255   4
5 Nola, Aaron       PHI  435.7937   5
6 McClanahan, Shane TBR  431.0342   6

In [6]:
full_rankings <- rbind(pitchers, hitters) %>% select(-rank)
head(full_rankings)

  player            Team final_pred
1 Cole, Gerrit      NYY  495.0817
2 Strider, Spencer  ATL  490.8003
3 Valdez, Framber   HOU  472.3484
4 Javier, Cristian  HOU  461.9255
5 Nola, Aaron       PHI  435.7937
6 McClanahan, Shane TBR  431.0342

In [9]:
ranks <- order(full_rankings$final_pred, decreasing = TRUE)
full <- full_rankings[ranks,]
full$rank <- rank(full$final_pred)
head(full)

  player           Team final_pred rank
1 Alvarez, Yordan  HOU  544.5948   656
2 Soto, Juan       SD   540.5806   655
3 Judge, Aaron     NYY  531.6748   654
4 Cole, Gerrit     NYY  495.0817   653
5 Strider, Spencer ATL  490.8003   652
6 Valdez, Framber  HOU  472.3484   651